* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Anek Devanagari', sans-serif;
    transition: .2s linear;
}

:root {
    --bg-color: #001C30;
    --text-color: #fdfdfd;
    --main-color: #CBDDB8;
    --blue-color: #3C5B6F;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.header .logo h2 {
    margin-left: 10px;
    font-size: 1.8rem;
    color: var(--main-color);
}

.header .logo h2 span{
    color: var(--blue-color);
}

.header .navbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header .navbar a {
    margin: 0 15px;
    font-size: 1.4rem;
    color: var(--blue-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.header .navbar a:hover {
    color: var(--main-color); 
}

.navbar a.active {
    color: var(--main-color); 
}

/*seccion de inicio*/
.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 5%;
    text-align: center;
    margin-top: 3rem;
}

.home img {
    max-width: 20%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 2rem;
}

@keyframes shake {
    0% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80%, 100% { transform: translateX(10px); }
}

.home img {
    animation: shake 10s ease-in-out infinite;
}

.home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.home p {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    padding: 0.8rem 1.5rem;
    background-color: var(--blue-color);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--main-color);
    color: var(--blue-color);
}

/* Sección de biodiversidad */
.biodiversidad {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem 5%;
    text-align: center;
    background-color: var(--bg-color);
}

.biodiversidad h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.biodiversidad p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.biodiversidad .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.biodiversidad .left-column,
.biodiversidad .right-column {
    flex: 1 1 calc(50% - 1rem);
    max-width: calc(50% - 1rem); 
    margin-bottom: 1.5rem;
}

.biodiversidad .left-column .details,
.biodiversidad .right-column .details {
    margin-bottom: 1.5rem;
    text-align: left;
}

.biodiversidad .left-column .details h3,
.biodiversidad .right-column .details h3 {
    font-size: 1.5rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

.biodiversidad .left-column .details p,
.biodiversidad .right-column .details p {
    font-size: 1.2rem;
    color: var(--text-color);
}

.biodiversidad .image-container {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.biodiversidad img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

/* Acordeón */
.accordion-section {
    margin-top: 2rem;
}

.accordion-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--text-color);
    background-color: var(--blue-color);
    border: none;
    cursor: pointer;
    text-align: left;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.accordion-button:hover {
    background-color: var(--main-color);
}

.accordion-button.active {
    background-color: var(--main-color);
}

.accordion-icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.accordion-button.active .accordion-icon {
    transform: rotate(45deg);
}

.accordion-content {
    display: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.accordion-button.active + .accordion-content {
    display: block;
}

/* Secciones de Cundinamarca y Boyacá */
.region {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem 5%;
    text-align: center;
}

.region h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.region p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.map {
    display: flex;
    place-content: center center;
    width: 35%;
}

.map path {
    fill: var(--main-color);
    stroke: var(--blue-color);
}

#COCUNDI {
    fill: var(--text-color);
}

#COBOYA {
    fill: var(--text-color);
}

.region .info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.region .details {
    flex: 1;
    text-align: left;
}

.region .details h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--blue-color);
}

.region .details p {
    font-size: 1.2rem;
    color: var(--blue-color);
    margin-bottom: 1.5rem;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 1rem;
}

.image-item {
    overflow: hidden;
}

.image-item img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.image-item:hover img {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}

/* Sección de recursos y contacto */
.resources, .contact {
    padding: 2rem 5%;
    text-align: center;
}

.resources h2, .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.resources p, .contact p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.resources {
    background-color: var(--blue-color);
    color: var(--text-color);
}

.resources h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.resources p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.resource-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.resource {
    background-color: var(--main-color);
    padding: 2rem;
    border-radius: 10px;
    flex: 1 1 300px;
    text-align: center;
}

.resource h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--blue-color);
}

.resource p {
    font-size: 1.2rem;
    color: var(--blue-color);
    margin-bottom: 1.5rem;
}

.resource .btn {
    padding: 0.8rem 1.5rem;
    background-color: var(--blue-color);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.resource .btn:hover {
    background-color: var(--main-color);
    color: var(--blue-color);
}

.contact {
    padding: 2rem 5%;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin-bottom: 3rem;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    background-color: var(--blue-color); 
    text-align: left;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: grid;
    gap: 0.5rem;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: var(--text-color);
}

textarea {
    resize: vertical;
    height: 5rem;
    resize: none;
}

.btn-submit {
    padding: 0.8rem 1.5rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
}

.btn-submit:hover {
    background-color: var(--main-color);
    color: var(--blue-color);
}


/* footer */
.footer {
    background-color: var(--main-color);
    color: var(--blue-color);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p {
    font-size: 0.9rem;
    margin-right: 20px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icon {
    color: var(--blue-color);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: var(--blue-color);
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 1024px) {
    .header .logo h2 {
        font-size: 1.3rem;
    }
    
    .header .navbar a {
        margin: 0 8px;
        font-size: 1rem;
    }
    
    .home h1 {
        font-size: 2rem;
    }
    
    .home p {
        font-size: 1rem;
    }
    
    .region h2 {
        font-size: 1.8rem;
    }
    
    .region .details h3 {
        font-size: 1.3rem;
    }
    
    .region .details p {
        font-size: 1rem;
    }
    
    .resource h3 {
        font-size: 1.3rem;
    }
    
    .resource p {
        font-size: 1rem;
    }
    
    .contact h2 {
        font-size: 1.8rem;
    }
    
    label {
        font-size: 0.9rem;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 0.9rem;
    }
    
    .btn-submit {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 1.5rem 5%;
    }

    .header .logo h2 {
        font-size: 1.2rem;
    }

    .header .navbar {
        display: none; 
        flex-direction: column;
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        background-color: var(--bg-color);
        z-index: 999;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }

    .header .navbar.active {
        transform: translateY(0);
    }

    .header .navbar a {
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .home {
        padding: 1rem 5%;
    }

    .home img {
        max-width: 50%;
        margin-bottom: 1rem;
    }

    .home h1 {
        font-size: 2rem;
    }

    .home p {
        font-size: 0.9rem;
    }

    .buttons {
        flex-direction: column;
    }

    .btn {
        width: 100%;
    }

    .region .info {
        width: 100%;
    }

    .resource {
        flex: 1 1 100%;
    }

    .contact {
        padding: 1rem 5%;
    }

    #contact-form {
        padding: 1rem;
        max-width: 100%;
    }

    .biodiversidad .info {
        flex-direction: column;
        align-items: center;
    }

    .biodiversidad .left-column,
    .biodiversidad .right-column {
        flex: 1 1 100%; 
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .header .logo h2 {
        font-size: 1rem;
    }

    .header .navbar a {
        font-size: 1rem;
    }

    .home h1 {
        font-size: 1.5rem;
    }

    .home p {
        font-size: 0.8rem;
    }

    .region h2 {
        font-size: 1.5rem;
    }

    .region .details h3 {
        font-size: 1.2rem;
    }

    .region .details p {
        font-size: 0.9rem;
    }

    .resource h3 {
        font-size: 1.2rem;
    }

    .resource p {
        font-size: 0.9rem;
    }

    .contact h2 {
        font-size: 1.5rem;
    }

    label {
        font-size: 0.8rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 0.8rem;
    }

    .btn-submit {
        font-size: 0.8rem;
    }

    .biodiversidad h2 {
        font-size: 2rem;
    }

    .biodiversidad .left-column .details h3,
    .biodiversidad .right-column .details h3 {
        font-size: 1.3rem;
    }

    .biodiversidad .left-column .details p,
    .biodiversidad .right-column .details p {
        font-size: 1rem;
    }
}